body{
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-color: #030f49;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1755b5;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.349);
    padding: 10px;
}

header p{
    font-size: 50px;
    margin: 0;
}

.main{
    font-size: 30px;
    height: 50%;
    width: 50%;
    background-color:#1755b5;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349);
    margin-top: 40px;
}

input{
    padding: 10px;
    outline: none;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.349);
    border: none;
    border-radius: 4px;
}

button{
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    width: 120px;
    height: 60px;
    transition: 1s;
    font-size: 20px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.349);
    margin-left: 10px;
}

button:hover{
    transition: 1s;
    transform: 1s;
    width: 130px;
    height: 70px;
    font-size: 25px;
    background-color: #1755b5;
    color: white;
    font-weight: 600;
    border: none;
}